<footer class="footer fixed-footer">
      <div class="container">

        <p class="text-muted pull-right">
          <%= link_to "https://github.com/martensonbj", class: "footer-links" do %>
            <i class="fa fa-github-square"></i>
          <% end %>

          <%= link_to "https://www.facebook.com/brenna.martenson", class: "footer-links" do %>
            <i class="fa fa-facebook-square"></i>
          <% end %>

          <%= link_to "https://www.linkedin.com/in/brennamartenson", class: "footer-links" do %>
            <i class="fa fa-linkedin-square"></i>
          <% end %>
        </p>
      </div>
</footer>
