
<h3><%= link_to challenge.title, challenge_path(challenge.id)%></h3>
<p class="align-center">Status: <%= challenge.status.upcase %></p>

<%= render partial: 'partials/index_challenge_table', locals: {challenge: challenge} %>

<% if current_user.id == challenge.assigned_user.to_i && !challenge.challengee_guess && challenge.status != "declined" %>
  <p class="your-move">
    Your Move!
  </p>
<% end %>

<div class="expiration-date">
  Expires In: <%= distance_of_time_in_words(challenge.expiration_date, Time.now)%></span>
</div>
