<div class="row">
  <div class="col-xs-12 col-s-12 col-md-7 col-md-offset-5">
    <div class="home-content text-center">
      <h1>What Are The Odds?</h1>

      <%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-lg btn-default btn-home login" %>

    </div>
  </div>

</div>
