/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);


$primary-button-color: #333;
$primary-button-color-hover: rgb(107, 107, 107);
$success-text: #aaa;
$alert-text: #ff0000;
$challenge-title-button: rgb(169, 67, 66);
$challenge-title-button-hover: rgb(199, 57, 55);
$complete-challenge-text: #333;

.show-answers {
  display: none;
  color: red;
}
.expiration-date {
  display: none;
  color: red;
  font-size: 20px;
  font-weight: bold;
}
body {
  font-family: 'News Cycle', sans-serif;
  height: 100vh;
}
h1 {
  text-align: center;
}
main {
  padding-bottom: 25px;
  margin-bottom: 30px;
}
a:hover {
  text-decoration: none;
}
.btn {
  background-color: $primary-button-color;
  color: #fff;
}
.btn:hover {
  background-color: $primary-button-color-hover;
}
form {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  label {
    display: block;
  }
}
body.body-landing-page {
  background-color: #aaa;
  background-image: image-url("jump1.jpg");
  background-size: cover;
  .home-content {
    position: relative;
    top: 100px;
    left: -115px;
    h1 {
      font-size: 60px;
      letter-spacing: 8px;
      margin-bottom: 40px;
    }
    .btn-default {
      color: #fff;
      padding: 20px !important;
      width: 236px;
      border: none;
    }
    .btn-default:hover {
      border: none;
    }
  }
}
.navbar {
  border-radius: 0;
  .challenge-alert {
    color: $alert-text!important;
  }
}
.alert-success {
  color: $success-text;
  position: absolute;
  right: 125px;
  top: 50px;
  border: none;
  background-color: transparent;
}
.alert-error {
  color: $alert-text;
}
.alert {
  text-align: center;
}
.user-registration-content {
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
  border: 1px solid #ccc;
  padding: 0 30px 30px;
  border-radius: 5px;
  input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    text-align: center;
    height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  input:focus {
    outline: none;
  }
}
#dashboard-content {
  h2 {
    text-align: center;
    padding-bottom: 20px;
  }
  .challenge-button {
    border: 1px solid #ccc;
    background-color: $primary-button-color;
    color: #fff;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 1px 1px 37px #aaa;
    height: 130px;
    display: block;
    text-align: center;
    vertical-align: middle;
    vertical-align: bottom;
    line-height: 12rem;
    font-size: 34px;
    margin: 0 auto;
  }
  a:hover {
    background-color: $primary-button-color-hover;
    color: #fff;
  }
  .challenge-title {
    min-width: 200px;
    min-height: 35px;
    background-color: $challenge-title-button;
  }
  .challenge-title:hover {
    background-color: $challenge-title-button-hover;
  }
  .challenge-block {
    padding: 15px;
    margin: 25px;
    text-align: center;
    box-shadow: 1px 1px 30px #333;
    h3 {
      border-bottom: 1px solid #aaa;
      padding-bottom: 15px;
    }
    span {
      font-weight: bold;
    }
    div {
      padding: 5px;
    }
    .challenge-ready-text {
      color: #333333;
      background-color: #f4f4f4;
      line-height: 50px;
      letter-spacing: 10px;
      margin-top: -10px;
    }
    img {
      max-width: 65px;
    }
    table th {
      text-align:center;
    }
  }
}
/*** FORMS ***/
.new-challenge-form {
  box-shadow: 1px 1px 30px #aaa;
  padding: 25px;
  input,
  textarea,
  select {
    width: 100%;
    height: 36px;
    padding: 20px;
    border: none;
    border-bottom: 1px solid #aaa;
    text-align: center;
    margin-bottom: 19px;
  }
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  input.btn.btn-default {
    line-height: 0;
    font-size: 18px;
    margin-top: 25px;
  }
}
.text-friend {
  border: 1px solid #aaa;
  padding: 5px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}
textarea#challenge_message {
  height: 200px;
  border: 1px solid #aaa;
}
.challenge-show {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
.show-challenge-block {
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 1px 1px 30px #aaa;
  padding: 20px;
  text-align: center;
  h4 {
    text-align: center;
    border-bottom: 1px solid #aaa;
    padding: 10px 0;
  }
  div {
    margin-bottom: 5px;
  }
  span {
    font-weight: bold;
  }
  .challenge-ready-text {
    padding-bottom: 15px;
    color: red;
  }
  .answer-box {
    height: 165px;
    margin: 15px;
    width: 165px;
    box-shadow: 1px 1px 30px #aaa;
  }
  .answers {
    margin: 0 auto;
    width: 400px;
  }
  .show-answers {
    font-size: 40px;
  }
  img {
    max-width: 65px;
  }
}

.challenge-posts {
  margin-left: 50px;
  width: 45%;
  h3  {
    text-align: center;
  }
  #new_post{
    margin-top: 25px;
    box-shadow: 1px 1px 30px #aaa;
    padding: 25px;
    padding-bottom: 20px;
    textarea {
      width: 60%;
      height: 50px;
      border: none;
      border: 1px solid #aaa;
      border-radius: 5px;
    }
    input.btn.btn-default {
      position: relative;
      top: -20px;
      left: 20px;
    }
  }
  .conversation {
    margin-top: 25px;
  }
}
footer {
  background-color: #000;
  height: 60px;
  .footer-links {
    font-size: 30px;
    margin: 0px 10px;
    position: relative;
    top: 8px;
  }
}
.your-move {
  color: $alert-text;
  letter-spacing: 3px;
  font-weight: bold;
}

#container {
    border: 10px #333 solid;
}
#videoElement {
    background-color: #666;
}
.complete-challenge-text {
  color: $complete-challenge-text;
  margin-top: -5px;
  border-bottom: none;
}
